.nav-flex{
    display: flex;
    flex-direction: row;

}
.nav-flex > li{
    list-style: none;
}
.list{
    padding: 10px 40px;
    font-size: large;
    color: white;
    text-shadow:  1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
    border-radius: 0.5rem;
}
.list:hover{
    background-color: black;
}
.navBar{
    position: fixed;
    top: 0;
    right: 0;
}
